@model IEnumerable<string>

<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" asp-action="Index"
       asp-controller="Home" asp-route-category="">
        Главная
    </a>
    <h3>Категории:</h3>
    @if (Model.Count() <= 3)
    {
        @foreach (string category in Model) {
            <a class="btn @(category == ViewBag.SelectedCategory 
                              ? "btn-primary": "btn-outline-secondary")"
               asp-action="Index" asp-controller="Home"
               asp-route-category="@category"
               asp-route-productPage="1">
                @category
            </a>
        }
    }
    else
    {
        @foreach (string category in Model.Take(3)) {
            <a class="btn @(category == ViewBag.SelectedCategory 
                              ? "btn-primary": "btn-outline-secondary")"
               asp-action="Index" asp-controller="Home"
               asp-route-category="@category"
               asp-route-productPage="1">
                @category
            </a>
        }
        <a class="btn btn-outline-secondary" asp-action="Categories" asp-controller="Filter">
            Все категории...
        </a>
    }
</div>
