@using BookShelf.Infrastructure
@model BookShelf.Models.Cart

<div class="">
    @if (Model.Lines?.Any() ?? false) {
        <small class="navbar-text">
            <b>Содержимое корзины:</b>
            @Model?.Lines.Sum(x => x.Quantity) предмета(ов)
            @Model?.ComputeTotalValue().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Cart" 
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>
